# Blockchain Configuration
# Private key of the fee payer account (must be a valid Ethereum private key)
FEE_PAYER_PRIVATE_KEY=

# Address of the fee payer account (must be a valid Ethereum address)
ACCOUNT_ADDRESS=

# Comma Separated RPC URL for the blockchain network
RPC_URL=https://public-en-kairos.node.kaia.io

# API Configuration
# Public URL of your API (used for client-side requests)
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Authentication Configuration
# Google OAuth Client ID from Google Cloud Console
GOOGLE_CLIENT_ID=

# Google OAuth Client Secret from Google Cloud Console
GOOGLE_CLIENT_SECRET=

# NextAuth.js Configuration
# Base URL of your application
NEXTAUTH_URL=http://localhost:3000

# Secret key for NextAuth.js (generate using: openssl rand -base64 32)
NEXTAUTH_SECRET=

# Comma-separated list of allowed Google email addresses
# Only these emails will be granted editor access
GOOGLE_WHITELIST=example@domain.com,

# Optional: Pool Balance Warning Thresholds
# These values determine when to show warning indicators for pool balance
# Values are in the native token (e.g., KAIA)
NEXT_PUBLIC_POOL_WARNING_RED=10
NEXT_PUBLIC_POOL_WARNING_ORANGE=20

# mysql database url string . Configure below variable in .env file
DATABASE_URL=mysql://

# Password hashing
BCRYPT_ROUNDS=12

# JWT Secret for email authentication (your custom system)
EMAIL_AUTH_JWT_SECRET=Kaia

# Password reset token expiration (in minutes)
PASSWORD_RESET_EXPIRATION=1440

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# AWS SES Configuration (for email alerts)
AWS_REGION="ap-southeast-1"  
FROM_EMAIL="noreply@yourdomain.com" 
# For local testing
AWS_ACCESS_KEY_ID="your-aws-access-key-id" 
AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"

# URL of base URL
NEXT_PUBLIC_BASE_URL=
# Maintenance Banner Configuration
NEXT_PUBLIC_MAINTAINENCE_MSG=🚧 Our services will be down for maintenance from 2:00 AM to 4:00 AM KST on January 15th for system upgrades. We apologize for any inconvenience.

# for testnet
GASLESS_SWAP_CONTRACT_ADDRESS=0x5BdfF0c890923F697677f3815A82a0acde0d405E
GASLESS_SWAP_TOKEN_IN=0xcb00ba2cab67a3771f9ca1fa48fda8881b457750
GASLESS_SWAP_TOKEN_OUT=0x043c471bEe060e00A56CcD02c0Ca286808a5A436

# # for mainnet
# GASLESS_SWAP_CONTRACT_ADDRESS=0x45bD04d5f14DD9AB908109cFEa816F758FaE6709
# GASLESS_SWAP_TOKEN_IN=0xd077A400968890Eacc75cdc901F0356c943e4fDb
# GASLESS_SWAP_TOKEN_OUT=0x19Aac5f612f524B754CA7e7c41cbFa2E981A4432
# NETWORK=mainnet

NEXT_PUBLIC_CONTRACT_USAGE_START_DATE=2025-10-15T07:35:00.000